{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}

{% block page_title %}
  {{ circuit_name }}
{% endblock %}

{% block page_description %}
  {{ circuit_name }}
{% endblock %}

{% block content %}
<article class="container">
  <h1>{{ name }}</h1>
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <img src="../img/circuits/{{ slug }}.jpg" alt="Track Layout via F1" class="img-fluid mb-1 circuit-img">
      <p class="caption">{{ name }} layout via F1.</p>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="circuit-stats-card card mb-4">
            <div class="card-body">
              <h3 class="card-title">Location</h3>
              <p>{{ location }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="circuit-stats-card card mb-4">
            <div class="card-body">
              <h3 class="card-title">Most Recent Winner</h3>
              <p>{{ winner_name }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="circuit-stats-card card mb-4">
            <div class="card-body">
              <h3 class="card-title">Round</h3>
              <p>#{{ round }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>About</h3>
          <p>{{ blurb }}</p>
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
