{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}
  {{ headline }}
{% endblock %}

{% block page_description %}
  {{ headline }}, a blog by Athena Hawkins. 
{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="blog-headline">{{ headline }}</h1>
      <p class="blog-subtitle">{{ date }}</p>
      {{ prose(post) }}
    </div>
    <div class="col-sm-4">
      <img src="../img/headshot.jpg" alt="image" class="img-thumbnail small-headshot">
      <p class="byline">By Athena Hawkins<br>
        <span>Formula1 Females</span>
      </p>
      <hr class="d-sm-none">
    </div>
  </div>
</article>
{% endblock %}

