{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}

{% block page_title %}{{ driver_name }}{% endblock %}

{% block page_description %}{{ driver_name }}
{% endblock %}

{% block content %}
<article class="container">
  <h1>{{ driver_name }}</h1>
  <h2 class="subtitle">{{ team }}</h2>
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <img src="../img/drivers/{{ img }}" alt="Driver Image" class="img-fluid mb-1">
      <p class="caption">{{ driver_name}} art inspired by 2023 livery.</p>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="stats-card card mb-4">
            <div class="card-body">
              <h3 class="card-title">Driver Rank</h3>
              <i class="fa fa-medal"></i><p>{{ position }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="stats-card card mb-4">
            <div class="card-body">
              <h3 class="card-title">Points</h3>
              <i class="fas fa-flag-checkered"></i><p>{{ points }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="stats-card card mb-4">
            <div class="card-body">
              <h3 class="card-title">Wins</h3>
              <i class="fa fa-trophy"></i><p>{{ wins }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>About</h3>
          <p>{{ blurb }}</p>
        </div>
    </div>
  </div>

</article>
{% endblock %}