{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}

{% block page_title %}{{ team_name }}{% endblock %}

{% block page_description %}{{ team_name }}
{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <h1>{{ team_name }}</h1>
      <div class="col-sm-4">
        <span>Via Formula1</span></p>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <img src="../img/{{ img }}" alt="image" class="img-fluid mb-4">
        {{ blurb }}
      </div>
    </div>
  </article>
{% endblock %}