{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}
  {{ headline }}
{% endblock %}

{% block page_description %}
  {{ headline }} by Athena Hawkins 
{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <h1 class="headline">{{ headline }}</h1>
      <div class="col-sm-4">
        <img src="../img/headshot.jpg" alt="headshot" class="img-fluid mb-4 headshot-image">
        <p class="byline">By Athena Hawkins<br>
        <span>Formula1 Females</span></p>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <img src="../img/{{ slug }}.jpg" alt="" class="img-fluid mb-4">
        {{ prose(post) }}
      </div>
    </div>
  </article>
{% endblock %}