{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}

{% block page_title %}{{ team_name }}{% endblock %}

{% block page_description %}{{ team_name }}{% endblock %}


{% block content %}
<article class="container">
  <h1>{{ team_name }}</h1>
  <h2 class="subtitle"> Drivers: {{ drivers }}</h2>
  <div class="row justify-content-center">
<div class="col-sm-8">
      <img src="../img/teams/{{ img }}" alt="Constructor Car Image" class="img-fluid mb-4">
      <span><p>{{ team_name }} 2023 livery via F1</p></span>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="stats-card card mb-4">
            <div class="card-body">
              <h3 class="card-title">Team Rank</h3>
              <p>{{ position }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="stats-card card mb-4">
            <div class="card-body">
              <h3 class="card-title">Team Points</h3>
              <p>{{ points }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="stats-card card mb-4">
            <div class="card-body">
              <h3 class="card-title">Team Wins</h3>
              <p>{{ wins }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>About</h3>
          <p>{{ blurb }}</p>
        </div>
    </div>
  </div>

</article>
{% endblock %}