<!doctype html>
<html lang="en">
  <!-- An Intro to Coding for Journalists class project -->
  <head>
    <title>Formula1 | {% block page_title %}Home{% endblock %}</title>
    <meta name="description" content="{% block page_description %}Default description{% endblock %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet"> {# links my heading font #}
    <link rel="stylesheet" href="{{ relative_path }}css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> {# adds font awesome icons #}
  </head>

  <body>
    {% include "_includes/nav.njk" %}

    {% include "_includes/jumbotron.njk" %}

    {% block content %}{% endblock %}

    {% include "_includes/footer.njk" %}

    <script src="{{ relative_path }}js/jquery.js"></script>
    <script src="{{ relative_path }}js/bootstrap.bundle.min.js"></script>
    <script src="{{ relative_path }}js/scripts.js"></script>
  </body>
</html>
