{% extends '_templates/base.njk' %}

{% block page_title %}
Drivers
{% endblock %}

{% block page_description %}
A list of drivers on the current gride with links to pages.
{% endblock %}

{% block content %}
  <article class="container">
        <h1>Meet the Drivers</h1>
        <p>The 2023 grid is packed with talent.</p>
        <div class="row">
          {% for driver in driverstats.bios %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-3 mb-sm-0">
              <div class="card-deck">
              <a href="driverstats/{{ driver.slug }}.html" class="card-link">
                <div class="card">
                  <img class="card-img-top" src="img/{{ driver.img }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">
                      {{ driver.driver_name }}
                    </h5>
                  </div>
                </div>
              </a>
              </div>
            </div>
          {% endfor %}
        </div>
  </article>
{% endblock %}