{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}Home page with news and blogs.{% endblock %}

{% block content %}
<div class="container">
  <h1>Welcome to the Grid</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in facilisis velit, aliquam congue dui. Mauris id mi quam. Nam enim leo, bibendum vel efficitur id, elementum malesuada est. Pellentesque interdum tempus eros nec iaculis. Quisque ac est dictum, vehicula nulla quis, condimentum dui.</p>
  <h2>Newest News</h2>
  <p>Stay on track!</p>
  <div class="row">
    {% for blog in headblogs.blogs %}
      <div class="col">
        <img src="img/{{ blog.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="headblogs/{{ blog.slug }}.html">{{ blog.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <h2>Blogs</h2>
  <p>Real-time updates and race commentary.</p>
  <hr>
  {% for blog in bloglist.blogs %}
    <h3><a href="bloglist/{{ blog.slug }}.html" target="_blank">{{ blog.headline }}</a></h3>
    <hr>
  {% endfor %}
</div>
{% endblock %}