/* blog styles */

.blog-headline {
  font-size: 2.25rem;
  font-family: 'Racing Sans One', sans-serif;
  text-align: left;
}

.blog-subtitle {
  font-size: 1.25rem;
  font-family: 'Racing Sans One', sans-serif;
  text-align: left;
}

.byline {
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;

  span{
    font-style: italic;
  }
}

.subtitle {
  font-size: 1.5rem;
  font-family: 'Racing Sans One', sans-serif;
  text-align: center;
}

.small-headshot {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.baked-blog-img {
  max-width: 100%;
  max-height: auto;
}

.bloglist-small {
  margin-top: 25px;
  margin-left: 25px;
  text-align: left;

  p{
    font-size: 1.25rem;
    text-align: left;
  }
}

.caption {
  font-size: .75rem;
  text-align: right;
}