/* blog styles */
.byline {
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  font-family: 'Racing Sans One', sans-serif;
  text-align: center;
}

.small-headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}