.card {
  height: 200px; /* Set the height of the card */
  margin-bottom: 20px; /* Add some margin between the cards */
  display: flex;
  justify-content: space-between;
  height: auto;
}

.card-title {
  margin-bottom: 15px; // Add a margin between the title and the heading underneath
}

.card-subtitle {
  margin-bottom: 10px; // Add margin between the subtitle and text underneath
  font-style: italic; // Make the text italic
}

.card-body {
  padding: 15px; // Add padding to the card body
  height: 100%; // Set the height of the card body to 100%
}

.card-img-top {
  object-fit: contain;
  max-height: 100%;
  width: 100%;
}