/* special styles for cards */

.driver-card, .team-card{ // these are the styles that apply to both my driver and team cards
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;

  h5 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: black;
}

  p {
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 0;
    color: black;
  }

  .rank{
    font-style: bold;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: black;
  }
}

.stats-card{
  background-color: red;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: white;
}

  p {
    font-size: 25px;
    margin-bottom: 0;
    color: white;
}

  i { // this is how I style the icons
    font-size: 25px;
    color: black; 
    }
}

.circuit-card {
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); // adds a cool shadow effect to the card itself

  img {
    width: 100%;
    height: auto;
    border-radius: 0%;
  }

  h5 {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: black;
  }

  p {
    font-size: 15px;
    margin-bottom: 0;
    color: black;
  }
}

.circuit-stats-card {
  background-color: blue;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); // adds a cool shadow effect

  h3 {
    font-size: 1.5rem;
    color: white;
}

  p {
    font-size: 20px;
    color: white;
    margin-bottom: 0; // Removes the bottom margin of the card to make it prettier
}
}