// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials

@import 'nav';
@import 'jumbotron';
@import 'card';

h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Racing Sans One', sans-serif;
}


h3 {
  font-size: 1.5rem;
  font-family: 'Racing Sans One', sans-serif;
}

.small-headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.callout {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}

.callout h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.callout p {
  font-size: 14px;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.5rem;
  font-family: 'Racing Sans One', sans-serif;
  text-align: center;
}

.stats-card{
  background-color: red;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: white;
}

  p {
    font-size: 25px;
    margin-bottom: 0;
    color: white;
  }
}

.driver-card{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;

  h5 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: black;
}

  p {
    font-style: italic;
    font-size: 1.25rem;
    margin-bottom: 0;
    color: black;
  }

  .rank{
    font-style: bold;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: black;
  }
}

footer {
  margin-top: 25px;
  font-size: 0.75rem;
}

.byline {
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
}